<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div class="wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Demo page for Keyboard shortcut service</mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Only on focus" #input>
      </mat-form-field>
      <input [ngKeyboardShortcuts]="directiveShortcuts" [disabled]="directiveDisabled"/>
      <button (click)="handleClick($event)">disable directive</button>
      <button (click)="toggleSecondShortcuts()">Toggle Second shortcuts</button>
      <button (click)="justForFun()">Just for Fun to make sure clicks works</button>
      <div *ngIf="showSecondShortcuts">
        <ng-keyboard-shortcuts [shortcuts]="secondShortcuts"></ng-keyboard-shortcuts>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="testClick($event)">Testing clicking bug</button>
    </mat-card-actions>
    <textarea></textarea>
  </mat-card>
</div>


